<div class="card mb-3">

               <div class="card-img-top">
                 <img  class="portada" src="../../assets/meme-spiderman.jpg"  alt="fotob" >  
               </div>
    
        <div>
                <img class="perfil"  src="../../assets/Spider-Man-Serie-60 - copia.jpg" alt="fotoc" style="float: up;">
         </div>

    <div class="card-body">    

   
        <div style="float: right;" id="info-details">
                   
                   <div> <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                            <img   src="../../assets/2021_07_argentina-programa_jumbotron-1_1.jpg" alt="Arpro">
                            </a> 
                    </div>
                       
        
                   <div> <a href="http://www.unm.edu.ar/">
                  <img    src="../../assets/UNM_blue_logo.jpg" alt="unm">
                 </a></div>
                  

                
        </div>  
            <h5 class="card-title"> Joseph Cartaphilus <i class="fa fa-pen"></i></h5>   
             
            <div class="btn-edit" onclick="cambiar_parrafo()">
            <i class="fa fa-pen"></i>
          </div>

       <p class="card-text">  Inmortal <br> Secreta Ciudad de los Inmortales 
       
    

       <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link with href
          </a>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-bs-target
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
          </div>
        </div>
     <button type="button" class="btn btn-primary" name="button">Tengo interés en...</button>  <button type="button" class="btn btn-primary" name="button">Botón 2</button>



</div>


<p>
     <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
     <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
     <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
   </p>
   <div class="row">
     <div class="col">
       <div class="collapse multi-collapse" id="multiCollapseExample1">
         <div class="card card-body">
           Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
         </div>
       </div>
     </div>
     <div class="col">
       <div class="collapse multi-collapse" id="multiCollapseExample2">
         <div class="card card-body">
           Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
         </div>
       </div>
     </div>
   </div>





</div>


